@model SmokersTavern.Model.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>


@using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <hr />
    <div style="margin-bottom: 25px" class="input-group">
        @Html.LabelFor(m => m.Email, new { @class = "form-control" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>



    <div style="margin-top:10px" class="form-group">
        <!-- Button -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Get Link" style="width: 20%;height: 10%" class="btn btn-success btn-block btn-lg " />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

