<!--Shreshtha-->@model SmokersTavern.Model.ForgotPasswordViewModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

<div class="brand">Smokers Tavern</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Change Password
            </h2>
            <hr />

            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                <span style="color:Green;font-weight:bold">
                    @TempData["ChangePassword_Success"]
                </span>
                <span style="color:red;font-weight:bold">
                    @TempData["ChangePassword_Failure"]
                </span>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10" style="height: 40%;width: 30%">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10" style="height: 40%;width: 30%">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" style="width: 20%;height: 10%" class="btn btn-success btn-block btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

