<!--Shivani Manickum-->

@model SmokersTavern.Model.CategoryViewModel


@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
@Styles.Render("~/Content/css/sb-admin.css")

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
@Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")
@Scripts.Render("~/Content/js/sb-admin.min.js")
@Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.min.js")

&nbsp;
&nbsp;



&nbsp;
&nbsp;



 <center><h2 class="alert-success" style="font-family:'Comic Sans MS';">Add New Category</h2></center>
<br />
            @using (Html.BeginForm("CreateCategory", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()


                    <span>Category Name</span>
                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryName)
                    <br />

                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-success " />
                    <input type="reset" value="Reset" class="btn btn-info" />
                </div>
            }



