<!--Shreshtha-->
@model SmokersTavern.Data.Models.Supplier


@{
    ViewBag.Title = "New Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
@Styles.Render("~/Content/css/sb-admin.css")

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
@Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")
@Scripts.Render("~/Content/js/sb-admin.min.js")
@Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.min.js")


<center><h2 class="alert-success" style="font-family:'Comic Sans MS';">New Supplier</h2></center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Supplier Name</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Supplier Contact Number</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.TextBoxFor(m => m.SupplierContactNumeber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierContactNumeber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Supplier Email</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.TextBoxFor(m => m.SupplierEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Supplier Address</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.TextBoxFor(m => m.SupplierAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Supplier Contact Person</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.TextBoxFor(m => m.SupplierContactPerson, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierContactPerson, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Payment Terms</label>
        <div class="col-md-10" style="height: 40%;width: 30%">
            @Html.DropDownListFor(m => m.PaymentTerms,new SelectList(new[] {"Select Payment Terms","30 days","60 days" }), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SupplierContactPerson, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <!-- Modal -->
        <input type="submit" value="Add Another Supplier" class="btn btn-success " />
        <input type="reset" value="Reset" class="btn btn-info" />
    </div>
}
